.cloud {
  --baseSize: 160px;
  --topOffSet: 30px;
  --delay: 0s;

  width: 2.25em;
  height: 0.75em;
  background: #fff;
  border-radius: 0.625em;
  
  position: absolute;
  top: var(--topOffSet);
  left: 0;

  font-size: var(--baseSize);

  transform: translateX(-2.5em);
  animation: slide 40s linear infinite;
  animation-delay: var(--delay);

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: inherit;
  }

  &::before {
    width: 1.125em;
    height: 1.125em;
    top: -0.5em;
    right: 0.325em;
    border-radius: 1.25em;
  }

  &::after {
    width: 0.625em;
    height: 0.625em;
    top: -0.325em;
    left: 0.325em;
    border-radius: 0.625em;
  }
}

@keyframes slide {
  from {
    transform: translateX(-2.5em);
  }

  to {
    transform: translateX(100vw);
  }
}