@import "../../styles/settings";

.window {
  --glassColor: hsl(216deg 51% 80%);
  --frameColorH: 82deg;
  --frameColorS: 4%;
  --frameColorL: 40%;
  --frameColor: hsl(var(--frameColorH) var(--frameColorS) var(--frameColorL));
  --baseSize: 2.4vh;

  display: inline-flex;
  width: 2em;
  height: 3.5em;
  margin: 0.5em;

  position: relative;

  background-color: var(--glassColor);
  border: 0.375em solid var(--frameColor);

  font-size: var(--baseSize);

  &::before {
    content: '';
    display: block;
    height: 0.25em;

    position: absolute;
    left: -0.1em;
    right: -0.1em;
    bottom: 50%;

    background-color: var(--frameColor);
  }

  &::after {
    content: '';
    display: block;
    width: 2.5em;
    height: 0.5em;

    position: absolute;
    bottom: -0.125em;
    left: -0.625em;

    background-color: hsl(var(--frameColorH) var(--frameColorS) calc(var(--frameColorL) + 15%));
    border-top: 0.1875em solid hsl(var(--frameColorH) var(--frameColorS) calc(var(--frameColorL) + 30%));
  }
}