@import "./styles/settings";

$roadSize: $spacingBase;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacingBase;
}

.nav {
  display: flex;
  width: 100%;
  margin-bottom: $spacingLg;
}

.navLink {
  padding: 8px 10px;

  border: 1px solid $colorDarkSubdued;
  border-radius: 10px;
  
  font-size: 14px;
  letter-spacing: 1px;
  color: $colorDarkSubdued;
  text-decoration: none;

  transition: background-color 250ms ease;

  &:hover {
    background: hsl(0deg 0% 95%);
  }

  &:not(:last-child) {
    margin-right: $spacingBase;
  }
}

.subTitle {
  font-size: $fontSizeLg;
}

.title {
  font-size: $fontSizeH1;
}

.main {
  justify-content: center;
  align-items: end;
  width: 100%;
  max-width: 120vh;

  position: relative;

  &.hasSky {
    padding: $spacingLg $spacingLg 0;

    background: #e1f3ff;
    border-radius: 14px;

    &.hasRoad {
      padding-bottom: $roadSize;
    }
  }

  &.hasRoad {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: $roadSize;

      position: absolute;
      bottom: 0;
      z-index: 1;

      background-color: #918686;
      border-radius: 10px;
    }
  }

  &.isText {
    text-align: left;
    max-width: 80vh;
  }
}

.footer {
  margin-top: $spacingBase;
  font-size: 12px;
}